/* CSS Reset */
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px; 
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    /* position: relative; */
    /* position: absolute; */
    position: sticky;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar: Logo and image */
#logo{
    margin: 7px 34px;
}
#logo img{
    margin: 4px 4px;
    height: 41px;
}

/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li{
    list-style: none;
    font-size: 1.2rem;
}
#navbar ul li a{
    /* by default display inline hota hai*/
    /* padding deni hai isliye display block kiya*/
    display: block;
    padding: 4px 11px;
    border-radius: 21px;
    text-decoration: none;
    color: white;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 4px 21px;
    height: 235px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: url('../bg.jpg') no-repeat center center/cover;
    width: 100%;
    height: 55%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

/* Services Section */
#services{
    margin: 4px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 33px;
    margin: 1px 15px;
    border-radius: 23px;
    background-color: rgb(240, 231, 231);
    margin-bottom: 20px;
}
#services .box img{
    height: 160px;
    margin: auto; /* ye kaam tab krega jab display block hoga*/
    display: block;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}

/* Clients Section */
#client-section{
    /* height: 200px; */
    position: relative; /* mtlb jitni jgh chahiye utni hi lega*/

}
#client-section::before{
    content: "";
    position: absolute;
    background: url('../bg1.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 11px;
}
#clients img{
    height: 100px;
}

/* Contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    background: url('../contact.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 33px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}

footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.h-secondary{
    font-size: 1.5rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.2rem;
    border-radius: 11px;
    cursor: pointer;
}
.btn:hover{
    color: black;
    background-color: tomato;
}

.center{
    text-align: center;
}

